/* ОСНОВНОЕ */

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;

  background-color: #849d8f;
}

/* Ссылки, кнопки */

a {
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0.3); 
}

.act-button {
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;

  border: none;
}

.user-btn {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}

/* Лого */

.main-header-logo {
  border-bottom: none;
}

/* ОБЩИЕ СТИЛИ ДЛЯ ТЕКСТОВЫХ ПОЛЕЙ*/

.text-field input,
.textarea-field textarea {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;

  background-color: #ffffff;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  opacity: 0.52;
}

.text-field input:hover,
.textarea-field textarea:hover {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;

  border: 2px solid #9a9a9a;
  border-radius: 5px;
  opacity: 0.52;
}

.text-field input:focus,
.textarea-field textarea:focus {
  border: 2px solid #2e88e4;
  border-radius: 5px;
  opacity: 0.52;
}


/* ГЛАВНАЯ НАВИГАЦИЯ - разные параметры для меню сайта и меню пользователя */

.site-navigation,
.user-navigation,
.drop-catalog-list {
  list-style: none;
}

.site-navigation a {
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
}

.user-navigation a {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #333333;
  text-decoration: none;
  background-color: #f7f6f3; 
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #323232;
  background-color: #f8f7f4;
}

.site-navigation a:active {
  color: #333333;
  background-color: #ededed;
}

.drop-catalog-list a,
.user-login-button a {
  border-bottom: none;
}

/* БЛОК С ТЕЛЕФОНОМ */

.header-contacts p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.header-contacts strong {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

/* СЛАЙДЕР */

.slider-container ul {
  list-style: none;
}

.slide-item {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
}

.slide-item a {
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  color: #ffffff;
}

.slide-switches {
  list-style: none;
} 

.slide-switches a {
  color: #ffffff;
  cursor: pointer;
}

/* СПЕЦ. ПРЕДЛОЖЕНИЯ */

.offer-container-left {
  width: 560px;
  height: 229px;

  background-color: #6d1527;
  background-image: url("../img/rasp-back.jpg");
  background-position: 0 0;
  background-repeat: repeat;

  border-radius: 10px;
}

.offer-container-right {
  width: 560px;
  height: 229px;

  background-color: #3e251a;
  background-image: url("../img/choc-back.jpg");
  background-position: 0 0;
  background-repeat: repeat;

  border-radius: 10px;
}

.spec-offer h3 {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.spec-offer p {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

/* ХИТЫ */

.popular-items-list {
  list-style: none;
}

.popular-item {
  text-align: center;
}

.card-content-container a {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 500;
}

.catalog-item-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-align: left;
}

.weight {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;  
}

/* ФИЧИ */

.features-container {
  width: 1146px;
  height: 306px;

  background-color: #eadec5;
  background-image: url("../img/wafer-back.png");
  background-position: 0 0;
  background-repeat: repeat;

  border-radius: 15px;
}

.features-slogan {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
}

.features-list {
  list-style: none;
}

.features-item {
  font-weight: 400;
  color: #323232;
}

/* НОВОЕ В НАШЕМ БЛОГЕ */

.blog-container {
  width: 550px;
  height: 220px;

  background-color: #ffffff;
  background-image: url("../img/straw-back.jpg");
  background-position: bottom center;
  background-repeat: repeat-y;

  border-radius: 15px;
}

.blog-content p {
  color: #323232;
}

.blog-content a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;

  text-decoration: underline;
}

/* БЛОК ПОДПИСКИ - тут либо 2 блока один в другом, либо один и у него рамка-изображение, либо SVG нарисовать */

.subscribe-container {
  width: 550px;
  height: 220px;

  background-color: #f7f6f3;
  background-image: url("../img/linear-back.png");
  background-position: 0 0;
  background-repeat: repeat;

  border-radius: 15px;
}

.subscribe-content {
  width: 548px;
  height: 210px;
  background-color: #f8f7f4;

  border-radius: 15px;
}

.subscribe-desc {
  font-weight: 400;
  color: #5a5a5a;
} 

/* КОНТАКТЫ */

.contacts-container {
  width: 302px;
  height: 305px;
  background-color: #fefefe;

  border-radius: 15px;
}

.contacts-content {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
}

.contacts-content strong {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
}

.contacts-content .act-button {
  background-color: #f3866d; /*временно*/
}

/* ВНУТРЕННЯЯ СТРАНИЦА */

.site-navigation-current {
  background-color: #d07058;
}

.cart-button .user-btn {
  color: #323232;
  background-color: #f7f6f3;
}

/* ХЛЕБНЫЕ КРОШКИ */

.breadcrumbs ul {
  list-style: none;
}

.bc-item a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}

.bc-current a {
  border-bottom: none;
}

/* Фильтр */

.page-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.filter-container fieldset {
  border: none;
}

.filter-container {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.back-layer ul {
  list-style: none;
}

.back-layer {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.sort-container .back-layer {
  width: 193px;
  height: 36px;
}

.cost-container .back-layer {
  width: 218px;
  height: 36px;
}

.fat-container .back-layer {
  width: 414px;
  height: 36px;
}

.filler-container .back-layer {
  width: 702px;
  height: 36px;
}

.sort-container label,
.cost-container label,
.fat-container legend,
.filler-container legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.back-layer select {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff;
}


/* Кнопка Применить фильтр */

.filter-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

.filter-button:hover,
.filter-button:focus {
  color: #323232;
  background-color: rgba(251, 252, 251, 1.0);
}

/*
.filter-button:active {

}
*/

/* Каталог */

.catalog-content ul {
  list-style: none;
}

.catalog-item {
  text-align: center;
}

/* Пагинатор */

.pagination ul {
  list-style: none;
}

.pagination-list a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  border-bottom: none;
}

.pag-current > a {
  color: #323232;
  background-color: #ffffff;
}

.pagination-prev > a {
  opacity: 0.2;
}

.pag-item a:hover,
.pag-item a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Футер */

.main-footer {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.main-footer a {
  color: #fefefe;
}

.social-button-list a {
  border-bottom: none;
}

.footer-social ul {
  list-style: none;
}

.footer-info ul {
  list-style: none;
}

.info-item:first-child {
  font-weight: 700;
}

.HTMLacademy-logo {
  border-bottom: none;
}

.footer-copyright p {
  font-size: 12px;
  font-weight: 400;
}

/* ОКНО ПОИСКА */

.search-overlay {
  background-color: #f8f7f4;
  border-radius: 6px;
  width: 340px; 
  height: 84px;
  padding: 10px; /*временно*/
}

/* ОКНО ВХОДА */

.login-overlay {
  background-color: #f8f7f4;
  border-radius: 6px;
  width: 277px; 
  height: 214px;
  padding: 10px; /*временно*/
}

.login-hints {
  list-style: none;
}

.login-hints a {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;

  text-decoration: underline;
}

/* ОКНО ОБРАТНОЙ СВЯЗИ */

.feedback-container {
  background-color: #f8f7f4;
  border-radius: 6px;
  width: 477px; 
  height: 442px;
  padding: 10px; /*временно*/
}

.feedback-content h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

/* КОРЗИНА */

.cart-container {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;

  background-color: #f8f7f4;
  border-radius: 6px;
  width: 540px; 
  height: 242px;
  padding: 10px; /*временно*/
}

.cart-content span {
  color: #999999;
}

.cart-footer {
  text-align: right;
}

.cart-sum {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.cart-footer a {
  background-color: #f06441; /*временно*/
}

.cart-footer a:hover,
.cart-footer a:focus {
  color: #ffffff;
}

/* Для сокрытия чего не надо */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Сеточные стили */




